.wrapper {
	background: #000;
	max-width: 110em;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr;
	grid-column-gap: .5em;
	margin: 0 auto;
	box-sizing: content-box;
}

.input {
	height: 100%;
	width: 100%;
	background: #1A1A1A;
	border: 0;
	padding: 1em;
	color: #fff;
	border-radius: .3em;
}

.button {
	width: 6em;
	margin: 0;
	padding: 0;
	background: #192D48;
	color: #117DED;
	border: 0;
	border-radius: .3em;
	font-weight: bold;
	cursor: pointer;
}